*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 1.5rem;
}

.main-content {
    max-width: 100%;
    margin: 2rem auto;
    padding: 0 2rem;
    display: flex;
    gap: 3rem;
}

.blog-post {
    width: 50%;
    margin: 0 auto;
    padding: 40px;
    background-color: white;
    box-shadow: 0 0 100px rgba(0,0,0,0.1);
    border-radius: 10px;
    transition: all 0.3s;
}
.blog-post:hover{
    box-shadow: 0 0 120px rgba(0,0,0,0.3);
    transform: scale(1.01);
    transition: all 0.3s;
}
.blog-post h2{
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.3;
    margin-bottom: 1rem;
}
.blog-post p{
    line-height: 1.6;
    color: #555;
}
.blog-post p span{
    font-weight: bold;
}
.blog-post img{
    width: 100%;
    margin: 1rem;
}
.blog p {
    color: black;
}

.contact {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.head-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5;
    margin-bottom: 1rem;
    width: 90%;
}
.head-content img {
    width: 20%;
    border-radius: 50%;
}
.contact p {
    width: 90%;
    text-align: justify;
}
.description {
    margin-bottom: 2rem;
}

.social-media h4 {
    font-size: 1.4rem;
    font-weight: 600;
}
.icons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}
.icons a{
    color: #555;
    font-size: 1.5rem;
    gap: 20px;
    flex-direction: row;
    transition: all 0.3s;
}
.icons a:hover{
    color: #3498db;
    font-size: 1.6rem;
    transition: all 0.3s;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: #f1f1f1;
}
.footer-icons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}
.footer-icons a{
    color: #555;
    font-size: 1.5rem;
    transition: all 0.3s;
}
.footer-icons a:hover{
    color: #3498db;
    font-size: 1.6rem;
    transition: all 0.3s;
}
